body{
    font-family: 'times-new roman';
    background-image: url('../css/traditionaldance.jpeg');
    color: rgb(222, 231, 233);
    font-size: 17px;
  }
  h1{
    font-size: 36px;
    padding-top: 20px;
  }
  
  .container{
    width: 80%;
    margin: auto;
  }
  
  #year-input{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000000;
  }
  
  #month-input{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000000;
  }
  
  #day-input{
    border-radius: 5px;
    width: 60px;
    height: 20px;
    box-shadow: 2px 2px #000000;
  }
  
  #get-name{
    border-radius: 5px;
    color: #000000;
    background-color: #60c54b;
    text-align: center;
    border: solid 1px #000000;
    width: 108px;
    height: 32px;
    font-size: 13px;
    box-shadow: 2px 2px #000000;
  }
  
  #result{
    text-align: center;
  }
  
  .content{
    background-color: rgba(27, 23, 24, 0.72);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    margin-bottom: auto;
    padding-bottom: 20px;
    box-shadow: 2px 2px #000000;
    border-radius: 0.5%;
  }
  
  
  .clear{
    border-radius: 5px;
    color: #000000;
    background-color: #FCD116;
    text-align: center;
    border: solid 1px #000000;
    width: 108px;
    height: 32px;
    font-size: 13px;
    box-shadow: 2px 2px #000000;
  }
  